@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
}

.logo img {
    width: 60px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerda {

}